In [1]:
import pandas as pd

In [3]:
df_1 = pd.read_csv('./generalinfo.csv')
df_1.head()

   id_restaurant                 label      food_type           city  review
0              1        sparky's diner  24 hour diner  san francisco     2.3
1              2  kabul afghan cuisine        afghani     san carlos     3.8
2              3    helmand restaurant        afghani  san francisco     4.0
3              4         afghani house        afghani      sunnyvale     3.6
4              5   kabul afghan cusine        afghani      sunnyvale     3.7

In [5]:
df_2 = pd.read_csv('./geographic.csv')
df_2.head()

              city               county    region
0          alameda       alameda county  bay area
1            alamo  contra costa county  bay area
2           albany       alameda county  bay area
3           alviso   santa clara county  bay area
4  american canyon              unknown  bay area

In [6]:
df_3 = pd.read_csv('./location.csv')
df_3.head()

   id_restaurant  street_num        street_name           city
0              1       242.0          church st  san francisco
1              2       135.0     el camino real     san carlos
2              3       430.0           broadway  san francisco
3              4      1103.0  e. el camino real      sunnyvale
4              5       833.0  w. el camino real      sunnyvale